<div>
  <h2 class="text-2xl font-bold">Filters</h2>
  <form [formGroup]="form">
    <fieldset class="fieldset">
      <legend class="fieldset-legend">Title</legend>
      <input
        name="title"
        type="text"
        class="input w-full"
        formControlName="title"
        (keydown.enter)="onBlur()"
      />
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Tags</legend>
      <div
        #dropdown
        class="dropdown w-full"
        [class.dropdown-open]="isDropdownVisible()"
      >
        <input
          name="tags"
          type="text"
          class="input input-bordered w-full"
          placeholder="Select a tag"
          formControlName="activeTags"
          (focus)="onFocus()"
          (input)="onInputChange($event)"
        />

        <ul
          class="dropdown-content z-[1] menu flex-nowrap p-2 shadow bg-base-300 rounded-box w-full max-h-60 overflow-y-auto mt-1"
        >
          @if (filteredTags().length === 0) {
          <li class="px-3 py-1.5">No tags found</li>
          } @else { @if (filteredTags().length > 1) {
          <li>
            <label class="label text-base-content">
              <input
                type="checkbox"
                class="checkbox checkbox-primary"
                (click)="onBlur()"
              />
              Clear all
            </label>
          </li>
          } @for (tag of filteredTags(); track tag) {
          <li>
            <label class="label text-base-content">
              <input
                type="checkbox"
                class="checkbox checkbox-primary"
                (change)="onTagChange($event, tag)"
              />
              {{ tag.name }}
            </label>
          </li>
          } }
        </ul>
      </div>
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Date</legend>
      <input
        name="date"
        type="date"
        class="input w-full"
        formControlName="date"
        (keydown.enter)="onBlur()"
      />
    </fieldset>
  </form>
</div>
