<nav class="bg-base-300 navbar fixed top-0 left-0 right-0 z-50">
  <div class="container mx-auto px-4">
    <div class="flex items-center">
      <div>
        <a routerLink="/" class="flex items-center gap-2">
          <span class="text-3xl font-bold">MindMap</span>
        </a>
      </div>

      <div class="ml-auto right-0">
        <div class="flex items-center gap-2">
          @for (route of routes; track route.path) {
          <a
            [routerLink]="route.path"
            [class.btn-active]="route.isActive()"
            class="btn btn-lg btn-ghost"
            (click)="route.onClick()"
            >{{ route.label }}</a
          >
          }
          <app-account />
        </div>
      </div>
    </div>
  </div>
</nav>
