<div class="h-full">
  <button
    class="btn btn-lg btn-circle btn-ghost absolute right-2 top-2"
    (click)="onClose()"
  >
    ✕
  </button>
  @if (isLoading()) {
  <div class="h-full w-full flex justify-center items-center">
    <span class="loading loading-spinner w-40"></span>
  </div>
  } @else {
  <div class="p-6 flex flex-col gap-4 h-full overflow-y-auto">
    <div>
      <h1 class="text-3xl font-bold">{{ title() }}</h1>
    </div>

    <div>
      <h2 class="text-xl font-bold">Content</h2>
      <div>
        <ul>
          @for (item of content(); track item.id) {
          <li class="mb-2">
            <h4>
              <span class="font-semibold">Speaker:</span> {{ item.speaker }}
            </h4>
            <p>{{ item.text }}</p>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
  }
</div>
