<div class="bg-base-100 h-full">
  @if (!isLoading()) {
    <div class="p-6 flex flex-col gap-4 h-full">
      <div>
        <h1 class="text-4xl font-bold">{{ title() }}</h1>
      </div>
      <div class="flex gap-2 overflow-x-scroll no-scrollbar h-8">
        @for (tag of tags(); track tag) {
          <div class="badge badge-primary">{{ tag }}</div>
        }
      </div>
      <div class="min-h-6 max-h-36 overflow-auto">
        <p>{{ description()}}</p>
      </div>
      <div class="h-full">
        <textarea type="text" class="textarea textarea-bordered w-full h-full bg-base-200" placeholder="Enter your text here...">{{ transcript() }}</textarea>
      </div>    
    </div>
  } @else {
    <app-overview-skeleton />
  }
</div>