<div class="w-full card border-1 border-base-300 bg-base-100 h-56 btn-card">
  <div class="card-body gap-5 p-4">
    <div class="flex flex-col gap-1.5">
      <div class="card-title">{{ card()?.title }}</div>
      <div class="flex gap-2 overflow-x-scroll no-scrollbar">
        @for (tag of card()?.tags; track tag) {
        <div class="badge badge-primary">{{ tag }}</div>
        }
      </div>
    </div>
    <div class="h-full">
      <p>
        {{ card()?.description }}
      </p>
    </div>
  </div>
</div>
